<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/profile.css">
  <title>Defy | Profile</title>

  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav_bar/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/background/background.css" type="text/css" />
  <link rel="stylesheet" href="/styles/ranks.css" type="text/css" />
  <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
  <script
			  src='https://code.jquery.com/jquery-3.4.1.js'
			  integrity='sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU='
			  crossorigin='anonymous'></script>
</head>
<body class='background-image'>
    <% include partials/navbar %>
    <% console.log(data) %>
  <div class='user-info-wrapper'>
  <div class="user-info">
    <img src="https://avatars1.githubusercontent.com/u/6765188?s=400&v=4" class="img-nima" alt="profile-pic.png">
    <div class="name">
      <label>Name: <%= data.user.username %></label>
    </div>
    <div class="email">
      <label>Email: <%= data.user.email %></label>
    </div>
    <div>
      <label class="rank">Current Rank: <%= data.user.rank %></label>
    </div>
  </div>
  <div id="challengeinfo" class="challenges-info">
    <div class="challenges-tabs">
      <button id="my-challenges" class="challenges-tab active">My Challenges</button>
      <button id="accepted-challenges" class="challenges-tab">Accepted Challenges</button>
    </div>
    <div class="challenges-list">
      <div class="created">
        <% for(let challenge of data.created ) { %>
          <!-- couldn't use ternary operator -->
        <div class="challenge"><div class="label <%= challenge.genre === 'Physical' ? 'red' : ''%> <%= challenge.genre === 'Mental' ? 'green' : ''%> <%= challenge.genre === 'Game' ? 'blue' : ''%> <%= challenge.genre === 'Random' ? 'yellow' : ''%>"></div>
          <img src="">
          <div class="data-wrapper">
            <div class="meta-data">
              <span class="challenge-name"><%= challenge.name %></span>
              <span><%= challenge.date %></span>
            </div>
            <div class="description"><%= challenge.description %></div>
          </div>
          <div class="delete-wrapper">
            <button class="delete">Delete</button>
          </div>
        </div>
        <% } %>
      </div>
      <div class="accepted hide">
        <% for(let challenge of data.accepted) { %>
          <div class="challenge">
              <% console.log(challenge); %>
              <div class="label <%= challenge.genre === 'Physical' ? 'red' : ''%> <%= challenge.genre === 'Mental' ? 'green' : ''%> <%= challenge.genre === 'Game' ? 'blue' : ''%> <%= challenge.genre === 'Random' ? 'yellow' : ''%>"></div>
              <img src="">
              <div class="data-wrapper">
                <div class="meta-data">
                  <span class="challenge-name"><%= challenge.name %></span>
                  <span><%= challenge.date %></span>
                </div>
                <div class="description"><%= challenge.description %></div>
              </div>
              <div class="delete-wrapper">
                <button class="delete">Delete</button>
              </div>
            </div>
          <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  $('#my-challenges').click(() => {
    $('.created').removeClass('hide');
    $('#accepted-challenges').removeClass('active');
    $('.accepted').addClass('hide');
    $('#my-challenges').addClass('active');
  });

  $('#accepted-challenges').click(() => {
    $('.accepted').removeClass('hide');
    $('#my-challenges').removeClass('active');
    $('.created').addClass('hide');
    $('#accepted-challenges').addClass('active');
  })
</script>
</body>
</html>
